#page_container
  - @services.each_with_index do |service, index|
    -#%section
    .row
    - if index % 2 == 0
      .col-sm-12.col-md-8
        %h1
          = raw service.service_type
        %section
          %p
            = image_fu service.photo, nil
        %section
          %p
            = raw service.description
      .hidden-sm.col-md-4
        -#Test
        = image_fu service.photo, nil
    - else
      .hidden-sm.col-md-4
        -#test
        = image_fu service.photo, nil
      .col-sm-12.col-md-8
        %h1
          = raw service.service_type
        %section
          %p
            = image_fu service.photo, nil
        %section
          %p
            = raw service.description
= stylesheet_link_tag('refinery/services/frontend')