- content_for :body_content_title do
  = service.service_type
- content_for :body do
  %section
    %h1 Service Type
    %p
      = raw service.service_type
  %section
    %h1 Photo
    %p
      = image_fu service.photo, nil
  %section
    %h1 Description
    %p
      = raw service.description
- content_for :side_body do
  %aside
    %h2= t('.other')
    %ul#services
      - services.each do |service|
        %li
          = link_to service.service_type, refinery.services_service_path(service)
= render '/refinery/content_page'
