<%= form_for [refinery, :services_admin, @service] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @service,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :service_type -%>
    <%= f.text_field :service_type, :class => 'larger widest' -%>
  </div>

  <div class='field'>
    <%= f.label :photo -%>
    <%= render '/refinery/admin/image_picker',
               :f => f,
               :field => :photo_id,
               :image => @service.photo,
               :toggle_image_display => false -%>
  </div>

  <div class='field'>
    <%= render '/refinery/admin/wysiwyg',
                :f => f,
                :fields => [:description],
                :object => "services/service" -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.services.admin.services.service'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @service.service_type) -%>
<% end -%>

<% content_for :javascripts do -%>
  <script>
    $(document).ready(function(){
      page_options.init(false, '', '');
    });
  </script>
<% end -%>
