<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(service) -%>">
  <span class='title'>
    <%= service.service_type %>
  </span>

  <span class='preview'></span>

  <span class='actions'>
    <%= action_icon(:preview, refinery.services_service_path(service), t('.view_live_html')) %>
    <%= action_icon(:edit,    refinery.edit_services_admin_service_path(service), t('.edit') ) %>
    <%= action_icon(:delete,  refinery.services_admin_service_path(service), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: service.service_type)}}  ) %>
  </span>
</li>
